@import 'variables';
@import 'animations';
@import './login/login';
@import './dash/dash';
@import './components/charts/circular.scss';

body{
    background-color: $dark;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar{
        display: none;
    }
}

.flex-container{
    position: relative;
}

.btn-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0rem;

    &-section{
        display: flex;
        align-items: baseline;
    }
}

.btn-default{
    border: 1px solid grey;
    background-color: $darkgrey;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0.25rem;
    width: 8rem;

    i{
        font-size: 18px;
    }

    &:hover{
        background-color: white;
        cursor: pointer;
        color: black;
        animation-name: hover;
        animation-duration: 0.6s;
    }
}

.active{
    background-color: white;
    color: black;
}

