$dark: hsl(0, 0%, 0%);
$darkxgrey: hsl(0, 0%, 5%);
$darkgrey: hsl(0,0%,10%);
$footerHeight: 2.5vh;
$headerHeight: 6vh;
$navHeight: 3vh;

$layout-breakpoint-sm: 360px;
$layout-breakpoint-md: 576px;
$layout-breakpoint-lg: 992px;

$lg-menu-width: 20%;
$mainMargin: 3rem;

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

