.profile{
    margin-top: 1rem;
    width: auto;
    height: 85px;
    border: 2px solid grey;
    border-radius: 25%;
    overflow: hidden;
}

.profile > img {
    width: auto;
    height: 85px;
}

.logo-text{
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Kufam', cursive;
    color:white;

}