@-webkit-keyframes hover {
  from {
    background-color: transparent;
  }

  to {
    background-color: white;
    color: black;
    opacity: 1;
  }
}

@keyframes hover {
  from {
    background-color: transparent;
  }

  to {
    background-color: white;
    color: black;
    opacity: 1;
  }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .login {
    padding: 0.5rem;
    text-align: center;
  }

  .form-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .login {
    padding: 5rem;
    text-align: center;
  }

  .form-submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .login {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 5rem;
  }
}

@media screen and (min-width: 1300px) {
  .login {
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .login {
    padding-left: 35rem;
    padding-right: 35rem;
    padding-top: 5rem;
  }
}

.form-submit input[type=submit] {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: 1px solid grey;
  text-align: center;
  display: inline-block;
  font-size: 1.13rem;
  width: 10rem;
  border-radius: 6px;
}

.form-submit a {
  /*position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0,-50%);*/
  margin-top: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1.13rem;
}

.login-container {
  border: 1px solid grey;
  border-radius: 1.5rem;
  width: 100%;
  overflow: hidden;
}

.login-container-header {
  display: flex;
  background-color: #0d0d0d;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
}

.login-container-form {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-top: 1px solid grey;
  padding: 1rem;
  padding-top: 1.5rem;
  justify-content: space-between;
  height: 100%;
}

.login-container-form .input-container {
  position: relative;
  border-radius: 6px;
  margin-bottom: 1.75rem;
}

.login-container-form .input-container i {
  position: absolute;
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  left: 0.5rem;
  top: 0;
}

.login-container-form .input-container input,
.login-container-form .input-container select {
  font-size: 1.25rem;
  outline: none;
  border: 1px solid #b3b3b3;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 6px;
  color: #b3b3b3;
  width: 91%;
  text-indent: 2rem;
}

.login-container-form .input-container input:focus,
.login-container-form .input-container select:focus {
  border: 1px solid white;
}

.login-container-form .input-container select {
  text-indent: 0;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  header .bars {
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  header .logo-text {
    color: white;
    font-size: 18px;
  }

  nav {
    display: none;
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0.5rem;
  }

  .menu .menu-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 1rem;
    color: white;
    margin: 0.25rem;
    width: 26%;
    height: 26%;
    padding: 0.5rem;
  }

  .menu .menu-tile:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  .menu .menu-tile span a {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  main {
    position: relative;
    height: 91.5vh;
  }

  main .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  header .bars {
    display: none;
  }

  header .logo-text {
    font-size: 36px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 1rem;
    border: 1px solid #1a1a1a;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    height: 3vh;
  }

  nav #menu-toggle {
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  nav #menu-toggle:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav ul li {
    float: left;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }

  nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  main {
    position: relative;
    height: 88.5vh;
  }

  main .menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: left;
    padding: 0.5rem;
    border-bottom: 1px solid grey;
    background-color: #1a1a1a;
  }

  main .menu .menu-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 1rem;
    color: white;
    margin: 0.25rem;
    width: 16.25%;
    height: 26%;
    padding: 0.5rem;
  }

  main .menu .menu-tile:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  main .menu .menu-tile span a {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  main .content {
    padding: 1rem;
  }

  main .hide {
    display: none;
  }

  .charts-panel {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  /*.flex-container{
      border: 1px solid purple;
  }*/

  header .bars {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: right;
    background-color: #1a1a1a;
    padding: 1rem;
    border: 1px solid #1a1a1a;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    height: 3vh;
  }

  nav #menu-toggle {
    display: none;
  }

  nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav ul li {
    float: left;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }

  nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  main {
    position: relative;
    height: 88.5vh;
  }

  main .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 30%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: inherit;
    width: 20%;
    border: 1px solid #1a1a1a;
    border-right: 1px solid grey;
    background-color: #1a1a1a;
    clear: both;
  }

  main .menu .menu-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 1rem;
    color: white;
    margin: 0.25rem;
    width: 6rem;
    height: 7rem;
    padding: 0.5rem;
  }

  main .menu .menu-tile:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    -webkit-animation-name: hover;
            animation-name: hover;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }

  main .menu .menu-tile span a {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  main .content {
    position: absolute;
    padding: 1rem;
    left: 21%;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
  }

  .charts-panel {
    width: auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  height: 6vh;
  align-items: center;
}

header .profile {
  width: auto;
  height: 6vh;
  border: 2px solid grey;
  border-radius: 25%;
  overflow: hidden;
}

header .profile img {
  width: auto;
  height: 6vh;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  text-align: center;
}

.svg-container svg {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5vh;
  color: white;
  text-align: center;
  clear: both;
  background-color: #1a1a1a;
  border-top: 1px solid grey;
}

.footer div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.taken {
  background-color: red;
}

.free {
  background-color: #1a1a1a;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content .res-record {
  border: 1px solid white;
  padding: 1rem;
}

.content table {
  font-size: 1.25rem;
  width: 100%;
  border-spacing: 0.5rem;
  border-collapse: seperate;
}

.content table tr td {
  overflow: wrap;
  padding: 0.75rem;
  border: 1px solid grey;
}

.content table tr td:nth-child(even) {
  text-align: left;
  max-width: 400px;
}

.charts-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.single-chart {
  position: relative;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 225px;
  height: 225px;
  margin: 1rem;
  padding: 1rem;
}

.single-chart-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.25rem;
  width: 100%;
  transform: translate(-50%, 0);
  text-align: center;
}

.single-chart-status {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border: 2px solid grey;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #1a1a1a;
}

.circular-chart {
  position: absolute;
  left: 10%;
}

.circle-bg {
  fill: none;
  stroke: darkgrey;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
          animation: progress 1s ease-out forwards;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid grey;
}

