@media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md) {

    header{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .bars {
            border: 1px solid white;
            padding:0.5rem;
            border-radius: 0.5rem;
        }

        .logo-text{
            color:white;
            font-size: 18px;
        }
    }

    nav{
        display: none;
    }

    .menu{
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 0.5rem;
    
        .menu-tile{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 1px solid grey;
            border-radius: 1rem;
            color:white;
            margin: 0.25rem;
            text-decoration: none;
            width: 26%;
            height: 26%;
            padding: 0.5rem;
    
            &:hover{
                background-color: white;
                cursor: pointer;
                color: black;
                animation-name: hover;
                animation-duration: 1s;

                span{
                    color: black;
                }
            }
        
            span{
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                color: white;
                margin-bottom: 1rem;
            }
        }
    }

    main{
        position:relative;
        height: 100vh - ($headerHeight + $footerHeight);

        .content{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

    }
}